.todo-items-container {
    border: solid 1px white;
    padding: 0 20px;
}

.todo-item {
    display: list-item;
    list-style-type: disc;
    color: gray;
    margin: 10px 0;
}

.todo-title {
    font-size: 18px;
    font-weight: 550;
    padding: 3px;
}

.todo-description {
    font-size: 15px;
}
