.todo-items-container {
    width: 100%;
    padding: 0 20px;
    margin: 0 20px;
}

.todo-item {
    display: list-item;
    list-style-type: disc;
    color: gray;
    margin: 10px 0;
    padding-bottom: 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(156, 193, 214, .3);
    border-radius: 5px;
}

.todo-item:hover {
    border: 1px solid rgb(156, 193, 214);
    border-radius: 5px;
    cursor: pointer;
}

.todo-title {
    font-size: 18px;
    font-weight: 550;
    padding: 3px;
    margin: 3px 0;
}

.todo-description {
    font-size: 15px;
    padding-left: 5%;
}
