/* whole container */
.todo-calender-container {
    margin: 5% auto;
    width: 1000px;
    /* height: 400px; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color:cornflowerblue;
}

/* calendar part container */
/* calendar part container */
.todo-left {
    width: 60%;
    margin: 20px;
    background-color: darkslategrey;
}


.current-month-year {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

/* weekdays */
.calendar-weekday-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.calendar-weekday {
    width: calc(100% / 7);
    text-align: center;
}

/* days */
.calendar-days-container {
    display: flex;
    flex-wrap: wrap;
}

.calendar-days {
    padding: 5px 0;
    width: calc(100% / 7);
    text-align: center;
}
