/* whole container */
.todo-calender-container {
    /* color variables */
    --background-color: rgb(63,69,88);
    --calendar-clr: rgb(248, 248, 248);
    --calendar-clr-dates: rgb(135, 136, 149);
    --calendar-clr-days: rgb(182, 150, 213);
    --calendar-clr-days-border: rgb(223, 218, 218);

    margin: 5% auto;
    width: 1000px;
    /* height: 400px; */
    display: flex;
    justify-content: space-between;
    background-color:var(--background-color);
    border-radius: 5px;
    font-size: 1rem;
    

}

/* calendar part container */
/* calendar part container */
.todo-left {
    width: 60%;
    margin: 20px;
    background-color:var(--calendar-clr);
    border-radius: 5px;
}


.current-month-year {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    color: var(--calendar-clr-dates);
}

/* weekdays */
.calendar-weekday-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 10px;
}

.calendar-weekday {
    width: calc(100% / 7 - 2px);
    text-align: center;
    color: var(--calendar-clr-dates);
    border: 1px solid transparent;
}

/* days */
.calendar-days-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 10px;
}

.calendar-days {
    width: calc(100% / 7 - 2px);
    /* height: 0; */
    aspect-ratio: 1/1;
    color: var(--calendar-clr-days);
    border: 1px solid var(--calendar-clr-days-border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-days:hover {
    background-color: var(--calendar-clr-days);
    color: var(--calendar-clr);
    cursor: pointer;
}

.selected-day {
    background-color: var(--calendar-clr-days);
    color: var(--calendar-clr);
    box-shadow: 0 0 10px 2px var(--calendar-clr-days);
}

/* todo list container e.g. right container*/
/* todo list container e.g. right container*/
.todo-right {
    width: 40%;
    position: relative;
}

.todo-list-title-container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.todo-list-title-container > span:nth-child(1) {
    font-size: 1.2rem;
    color:rgb(240, 240, 240);
}

.todo-list-title-container > span:nth-child(2) {
    font-size: 0.9rem;
    color: rgb(128,128,128);
}

.todo-list-container {
    /* margin: 20px; */
    display: flex;
    max-height: 400px;
    overflow-y: auto;
    margin-right: 5px;
}

.todo-list-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .todo-list-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
  }
  
  .todo-list-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

.todo-list-actions {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 100%;
}

#todo-plus {
    color: white;
    border: 1px solid var(--calendar-clr);
    border-radius: 50%;
}

#todo-plus:hover {
    background-color: var(--calendar-clr);
    color: rgb(63,69, 88);
}